@model Web.Messages.Marketing

<body class="skin-black">
    <!-- header logo: style can be found in header.less -->

    <div class="wrapper row-offcanvas row-offcanvas-left" style="margin-left: 15px; margin-top: -50px">

        <!-- Right side column. Contains the navbar and content of the page -->
        <aside class="right-side">
            <!-- Content Header (Page header) -->
            <section class="content-header">
                <h1>
                    Editar Marketing
                </h1>
                <ol class="breadcrumb">
                    <li><a href="~/Home/Inicio"><i class="fa fa-dashboard"></i> Home</a></li>
                    <li class="active">Marketing</li>
                    <li class="active">Edit</li>
                </ol>
            </section>
            @htmlHelpers.HelperConfirmation(TempData["Marketing"], TempData["Message"])

            @using (Html.BeginForm("Edit", "MARKETING", FormMethod.Post, new { enctype = "multipart/form-data" }))
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                @Html.HiddenFor(model => model.CodMarketing)
            <!-- Main content -->
                <section class="content invoice">
                    <div class="row">
                        <!-- accepted payments column -->
                        <div class="col-xs-6">
                                <div class="box-body">

                                    <div class="form-group">
                                        <label>Título</label>
                                        @Html.EditorFor(model => model.Titulo, new { htmlAttributes = new { @class = "form-control", @required = "required" } })
                                        @Html.ValidationMessageFor(model => model.Titulo, "", new { @class = "text-danger" })
                                    </div>

                                    <div class="form-group">
                                        <label>Tipo de Marketing</label>
                                        @Html.DropDownList("CodTipoMarketing", null, "-- Selectione um Tipo--", htmlAttributes: new { @class = "form-control", @required = "required" })
                                    </div>

                                    <div class="form-group">
                                        <label>Status</label>
                                        @Html.DropDownList("Status", null, "-- Selectione um status--", htmlAttributes: new { @class = "form-control", @required = "required" })
                                    </div>

                                    <div class="form-group">
                                        <label>Marca</label>
                                        @Html.DropDownList("CodMarca", null, "-- Selectione uma Marca--", htmlAttributes: new { @class = "form-control", @required = "required" })
                                    </div>
                                    <br />
                                </div><!-- /.box-body -->
                        </div><!-- /.col -->
                        <div class="col-xs-6">
                                <div class="box-body">

                                    <div class="form-group">
                                        <label>Descrição</label>
                                        @Html.TextAreaFor(model => model.Descricao, new { @class = "form-control", @required = "required" })
                                        @Html.ValidationMessageFor(model => model.Descricao, "", new { @class = "text-danger" })
                                    </div>

                                    <div class="form-group">
                                        <label>Arquivo</label>
                                        <input type="file" name="Arquivo" id="Arquivo" class="form-control" />
                                    </div>

                                    <br />
                                </div><!-- /.box-body -->
                        </div><!-- /.col -->
                    </div><!-- /.row -->
                    <div class="row">
                    </div>

                    <div class="col-xs-12">
                        <a href="~/MARKETING/Index"><i class="fa fa-toggle-left"></i> Back</a>
                        <button class="btn btn-success pull-right"><i class="fa fa-check-square-o"></i> Salvar</button>
                    </div>
                </section><!-- /.content -->
            }
        </aside><!-- /.right-side -->
    </div><!-- ./wrapper -->
</body>

@section scripts
{
    <script type="text/javascript">
            $(document).ready(function () {
                $("#Titulo").attr('maxlength', '100');
                $("#Descricao").attr('maxlength', '200');
            });
    </script>
}   